<ion-content>
	 <ion-card class="welcome-card">
	 	
	 	<form>


				<ion-list no-lines>


					<ion-list-header>
					<h5>
					Login Your Account
					</h5>
					</ion-list-header>

					<ion-item>
						<ion-input  name="email" type="text"  placeholder="Enter Email" spellcheck="false" autocapitalize="off"
							required>
						</ion-input>
					</ion-item>
					

					<ion-item>
						<ion-input  name="password" type="password"  placeholder="Shopnideas Password" required>
						</ion-input>
					</ion-item>
				</ion-list>

				<ion-row responsive-sm>
					<ion-col>
						<ion-button expand="full" color="danger">Login</ion-button>
					</ion-col>
				</ion-row>

				<ion-row responsive-sm>
					<ion-col>
						<ion-button routerLink="/signup"  expand="full" color="primary">Signup</ion-button>
					</ion-col>
				</ion-row>


					<ion-row responsive-sm>
					<ion-col>
						<p>Can't login? <b  routerLink="/forgotpassword">Recover your password</b></p>
					</ion-col>
				</ion-row>


			
	</form>

		
	</ion-card> 	
</ion-content>



