


ion-toolbar{
    --ion-background-color:#ed1356;
    --ion-text-color:#FFF;
}

.logo
{
	width:100%; 
}
ion-searchbar {
 --ion-background-color:#fff;
}

.call-font
{
	 font-size: 0.9rem;
}

.headercontact
{
	 --ion-background-color:#f7f6f6 !important;
    --ion-text-color:#000;
    font-weight:bold;
}

.logo-whatsapp-color
{
	color:green;
}

.logo-call-color
{
	color:#ed1356;
}

