
<ion-header>

   <!--  <ion-toolbar class="headercontact">
     <ion-title class="call-font">
       <ion-icon name="call" class="logo-call-color" ></ion-icon> +91-7083338595 &nbsp; | &nbsp;
       <ion-icon name="logo-whatsapp" class="logo-whatsapp-color"  ></ion-icon> +91-7083338595
     </ion-title>
    </ion-toolbar> -->

    <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

     <a routerLink="/home">
     <img  class="logo" src="https://m.shopnideas.com/img/mobile-logo.png" alt=""/>
      </a>
     <ion-title>
    
     </ion-title>

    <ion-title slot="end">
       <ion-icon name="heart-empty" routerLink="/myaccount"></ion-icon> &nbsp;
       <ion-icon name="person" routerLink="/login"></ion-icon> &nbsp;
       <ion-icon name="cart" end></ion-icon>
    </ion-title>

 
  </ion-toolbar>

  <!-- <ion-toolbar>
  <ion-searchbar debounce="500" class="searchbar"></ion-searchbar>
   </ion-toolbar> -->
</ion-header>

<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
     
       <ion-header>
        <ion-toolbar>
          <ion-title>Menu</ion-title>
        </ion-toolbar>
      </ion-header>

      <ion-content class='has-header'>

        <div  *ngFor="let p of menu; let i = index">

          <!-- <ion-menu-toggle *ngIf="p.url">
             <ion-item>
              <ion-label>
                {{p.title}}
              </ion-label>
            </ion-item>
          </ion-menu-toggle> -->


          <ion-item button *ngIf="p.colData?.length > 0" (click)="p.open = !p.open" [class.active-parent]="p.open" details="false">
            <ion-icon slot="end" name="arrow-forword" *ngIf="!p.open"></ion-icon>
            <ion-icon slot="end" name="arrow-down" *ngIf="p.open"></ion-icon>
            <ion-label><b>{{p.name}}</b></ion-label>
          </ion-item>

          <ion-list *ngIf="p.open">

             <ion-menu-toggle >
             <ion-item *ngFor="let sub of p.colData"  [routerLink]= "['/product']" [queryParams]="{ category_id: sub.category_id}" routerDirection="forward"  routerLinkActive="active" >
              <ion-icon slot="start" [name]="list"></ion-icon>
              <ion-label>
                {{sub.category_name}}
              </ion-label>
            </ion-item>
          </ion-menu-toggle>

          </ion-list>

        </div>

      </ion-content>

    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>


