<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      List
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
 <!--  <ion-list>
    <ion-item *ngFor="let titlemenu of menu_title; let i = index">
      {{titlemenu}} 
      <span *ngFor="let s of submenu[i]">
      {{s.category_name}}
      </span>
    </ion-item>
  </ion-list> -->

   <div class="card">
    <ion-row>
    
      <ion-col size="12"  *ngFor="let titlemenu of menu_title; let i = index">
        <ion-row class="title setpaddingtitle titleset" text-left>
        {{titlemenu}}
        </ion-row>

        <ion-row class="title setpadding" text-left  *ngFor="let s of submenu[i]"  [routerLink]= "['/product']" [queryParams]="{ category_id: s.category_id}" routerDirection="forward" >
        {{s.category_name}}
        </ion-row>
      </ion-col>
    </ion-row>
  </div>
  <!--
    <div *ngIf="selectedItem" padding>
      You navigated here from <b>{{selectedItem.title }}</b>
    </div>
  -->
</ion-content>
