<ion-content>
	 <ion-card class="welcome-card">
	 	
	 	<form>


				<ion-list no-lines>

					<ion-list-header>
					<h5>
					Reset Your Password
					</h5>
					</ion-list-header>
					
					<ion-item>
						<ion-input  name="email" type="text"  placeholder="Enter Email" spellcheck="false" autocapitalize="off"
							required>
						</ion-input>
					</ion-item>
					
				</ion-list>

				<ion-row responsive-sm>
					<ion-col>
						<ion-button expand="full" color="primary">Send Email</ion-button>
						
					</ion-col>
				</ion-row>

				<ion-row responsive-sm>
					<ion-col>
						<ion-button routerLink="/login"  expand="full" color="danger">Login</ion-button>
					</ion-col>
				</ion-row>



			
	</form>

		
	</ion-card> 	
</ion-content>



