

<ion-content>

	 <ion-card class="welcome-card">

	 	<ion-card-content class="border-top-cart">
			<ion-row>
	    	  <h2>Chocolate Cake</h2>
			</ion-row>
			<ion-row>
				<ion-col size="3">
				   <img src="https://i9.fnp.com/images/pr/l/v20191113144525/swirl-of-gems-truffle-cake_1.jpg">
				</ion-col>
				<ion-col size="7">
	    	  		<p class="price">{{ 799 | currency:'INR'}}</p>
	    	  		<p class="price">Weight : 1/2 KG</p>
					
					<button><ion-icon name="remove-circle" ></ion-icon></button>
					1
					<button><ion-icon name="add-circle" ></ion-icon></button>
					</ion-col>


				<ion-col size="2">
				     <ion-icon name="close-circle"></ion-icon>
				</ion-col>
				
			</ion-row>
		</ion-card-content>



		<ion-card-content class="border-top-cart">
			<ion-row>
	    	  <h2>Sunshine</h2>
			</ion-row>
			<ion-row>
				<ion-col size="3">
				   <img src="https://i9.fnp.com//images/pr/l/v20191018140609/sunshine-yellow-roses-bouquet_1.jpg">
				</ion-col>
				<ion-col size="7">
	    	  		<p class="price">{{ 699 | currency:'INR'}}</p>
	    	  		<button><ion-icon name="remove-circle" ></ion-icon></button>
					1
					<button><ion-icon name="add-circle" ></ion-icon></button>


				</ion-col>
				<ion-col size="2">
				     <ion-icon name="close-circle"></ion-icon>
				</ion-col>
			</ion-row>
		</ion-card-content>



		<ion-card-content>
			
			<ion-row class="border-top-cart">
				<ion-col size="6">
				  <b>Sub Total </b>
				</ion-col>
				<ion-col size="6">
	    	  		<b class="price">{{ 1498 | currency:'INR'}}</b>
				</ion-col>
			</ion-row>

			<ion-row class="border-top-cart">
				<ion-col size="6">
				  <b>Delivery Charges </b>
				</ion-col>
				<ion-col size="6">
	    	  		<b class="price">{{ 50 | currency:'INR'}}</b>
				</ion-col>
			</ion-row>

			<ion-row class="border-top-cart">
				<ion-col size="6">
				  <b>Total </b>
				</ion-col>
				<ion-col size="6">
	    	  		<b class="price">{{ 1548 | currency:'INR'}}</b>
				</ion-col>
			</ion-row>
		</ion-card-content>

		
	</ion-card> 	

	



</ion-content>





<ion-footer style="background-color: #fff;">
    <ion-grid>
          	<ion-button routerLink="/deliverydetails"  expand="full" color="danger">PROCEED TO CHECKOUT ({{ 1548 | currency:'INR'}})</ion-button>
    </ion-grid>

     <ion-grid>
          	<ion-button routerLink="/home"  expand="full" color="primary">  <ion-icon name="arrow-back"></ion-icon> ADD MORE GIFT</ion-button>
    </ion-grid>
</ion-footer>

