

.welcome-card {
        
       margin-top:60px !important;
       margin-left: 0px !important;
	   margin-right: 0px !important;
	   border-radius:0px;
	   box-shadow:none;
 }

.border-top-cart
{
	border-top:1px solid #CCC;
}

.delivery_status_yes
{
	color:green;
}


.delivery_status_no
{
	color:red;
}