<ion-content>

	   <ion-card class="welcome-card">

	   	<ion-list-header>
		<h5>
		MY ORDER HISTORY
		</h5>
		</ion-list-header>
	 	<ion-card-content class="border-top-cart">
			<ion-row>
	    	  <h2>Chocolate Cake</h2>
			</ion-row>
			<ion-row>
				<ion-col size="3">
				   <img src="https://i9.fnp.com/images/pr/l/v20191113144525/swirl-of-gems-truffle-cake_1.jpg">
				</ion-col>
				<ion-col size="6">
	    	  		<p class="price">{{ 799 | currency:'INR'}}</p>
	    	  		<p class="price">Weight : 1/2 KG</p>
					<p class="price">Qty : 1</p>
					<p class="price delivery_status_no">Status : In Process</p>
					</ion-col>
				<ion-col size="3">
				    <p class="price">View</p>
				</ion-col>
			</ion-row>
		</ion-card-content>

		<ion-card-content class="border-top-cart">
			<ion-row>
	    	  <h2>Chocolate Cake</h2>
			</ion-row>
			<ion-row>
				<ion-col size="3">
				   <img src="https://i9.fnp.com/images/pr/l/v20191113144525/swirl-of-gems-truffle-cake_1.jpg">
				</ion-col>
				<ion-col size="6">
	    	  		<p class="price">{{ 799 | currency:'INR'}}</p>
	    	  		<p class="price">Weight : 1/2 KG</p>
					<p class="price">Qty : 1</p>
					<p class="price delivery_status_yes">Status : Delivered</p>
					
					</ion-col>
				<ion-col size="3">
				    <p class="price">View</p>
				</ion-col>
			</ion-row>
		</ion-card-content>

		<ion-card-content class="border-top-cart">
			<ion-row>
	    	  <h2>Chocolate Cake</h2>
			</ion-row>
			<ion-row>
				<ion-col size="3">
				   <img src="https://i9.fnp.com/images/pr/l/v20191113144525/swirl-of-gems-truffle-cake_1.jpg">
				</ion-col>
				<ion-col size="6">
	    	  		<p class="price">{{ 799 | currency:'INR'}}</p>
	    	  		<p class="price">Weight : 1/2 KG</p>
					<p class="price">Qty : 1</p>
					<p class="price delivery_status_yes">Status : Delivered</p>
					</ion-col>
				<ion-col size="3">
				    <p class="price">View</p>
				</ion-col>
			</ion-row>
		</ion-card-content>

		<ion-card-content class="border-top-cart">
			<ion-row>
	    	  <h2>Chocolate Cake</h2>
			</ion-row>
			<ion-row>
				<ion-col size="3">
				   <img src="https://i9.fnp.com/images/pr/l/v20191113144525/swirl-of-gems-truffle-cake_1.jpg">
				</ion-col>
				<ion-col size="6">
	    	  		<p class="price">{{ 799 | currency:'INR'}}</p>
	    	  		<p class="price">Weight : 1/2 KG</p>
					<p class="price">Qty : 1</p>	
					<p class="price delivery_status_yes">Status : Delivered</p>	
					</ion-col>
				<ion-col size="3">
				    <p class="price">View</p>
				</ion-col>
			</ion-row>
		</ion-card-content>
	 </ion-card> 


</ion-content>




