
.welcome-card {
        
       margin-top:60px !important;
       margin-left: 0px !important;
	   margin-right: 0px !important;
	   border-radius:0px;
	   box-shadow:none;
 }
.contain
{
	color:green;
	font-weight:bold;
}
	