

<ion-content>

	 <ion-card class="welcome-card">

	</ion-card> 	

  <ion-grid class="ion-no-padding">


    <ion-row >
    <!-- 	<ion-col size="12">
			<ion-label color="danger">{{category_name}}</ion-label>
      </ion-col>
 -->
      <ion-col size="6" *ngFor="let product of productdata"  [routerLink]= "['/productdetails']" [queryParams]="{ product_id: product.product_id}" routerDirection="forward"   class="ion-no-padding">
        <ion-card>
          <img src="{{product.product_image}}"/>
          <ion-card-content>
            <p class="center">{{product.product_name}}</p>
            <p class="contain center">{{product.product_contain}}</p>
            <ion-row class="center">
              <ion-col>
                <b>Rs {{product.price}} &nbsp; </b>
              </ion-col>
            </ion-row>
          </ion-card-content>
        </ion-card>
      </ion-col>

      

    </ion-row>
  </ion-grid>



</ion-content>

