<ion-content>
	 <ion-card class="welcome-card">
	 	
	 	<form>


				

<ion-list>
  <ion-radio-group>
	    <ion-list-header>
	    <h5>
	    Select Payment Mode 
	  </h5>
	    </ion-list-header>

    <ion-item>
      <ion-label>Payumoney (Credit card, Debit card and Net Banking) Only For Indian Banking</ion-label>
      <ion-radio value="cord"></ion-radio>
    </ion-item>

    <ion-item>
      <ion-label>Paytm</ion-label>
      <ion-radio value="duesenberg"></ion-radio>
    </ion-item>

    <ion-item>
      <ion-label>Paypal (Only For Foreign Banking) </ion-label>
      <ion-radio value="hudson"></ion-radio>
    </ion-item>

    <ion-item>
      <ion-label>Cash On Delivery </ion-label>
      <ion-radio value="packard"></ion-radio>
    </ion-item>

    
  </ion-radio-group>
</ion-list>



				<ion-row responsive-sm>
					<ion-col>
						<ion-button routerLink="/payment"  expand="full" color="danger">SUBMIT</ion-button>
					</ion-col>
				</ion-row>

	</form>

		
	</ion-card> 	
</ion-content>



