<ion-content>
	 <ion-card class="welcome-card">
	</ion-card> 	
  <ion-grid class="ion-no-padding">
  	 <ion-row >
      <ion-col  size="12"  class="ion-no-padding">
        <ion-card>
          <img src="{{product_image}}"/>
         <ion-card-content>
            <p class="center">{{productname}} {{weight}}</p>
            <p class="center">Rs {{price}} </p>
            <!-- <ion-row class="center">
              <ion-col>
                <b>Rs {{price}} </b>
              </ion-col>
            </ion-row> -->
          </ion-card-content>
        </ion-card>
      </ion-col>

       <ion-col size="4" *ngFor="let weight of weightdata"  class="ion-no-padding">
        <ion-card>
          <img src="{{weight.product_image}}"/>
          <ion-card-content>
            <p class="center">{{weight.weight_title}}</p>
            <p class="center">Rs {{weight.price}} </p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-card-content>
            <p class="center">Description :- {{product_description}}</p>
    </ion-card-content>


  </ion-grid>
</ion-content>


<ion-footer class="footer" align-items-center>
  <ion-row align-items-center>
    <ion-col size="12">
      <ion-button  expand="full" color="danger"><strong>Buy NOW</strong></ion-button>
    </ion-col>
  </ion-row>
</ion-footer>

