<ion-content>
  <ion-card class="welcome-card">
<ion-slides pager [options]="slideOptsOne">
  <ion-slide *ngFor="let d of bannerdata">
     <img src="{{d.banner}}" alt=""/>
  </ion-slide>
</ion-slides>
  </ion-card> 


  <ion-grid class="ion-no-padding">
    <ion-row>
      <ion-col size="12"  class="ion-no-padding">
       <!--  routerLink="/product"   routerLink="/product?category_id=1"-->
      <ion-button  [routerLink]= "['/product']" [queryParams]="{ category_id: '1'}" routerDirection="forward" expand="full" color="danger">View Cake</ion-button>
      </ion-col>
       <ion-col size="6" *ngFor="let product of homepagecakeHomeproduct"  [routerLink]= "['/productdetails']" [queryParams]="{ product_id: product.product_id}" routerDirection="forward"  class="ion-no-padding">
        <ion-card>
          <img src="{{product.product_default_image}}"/>
          <ion-card-content>
            <p class="center">{{product.product_name}}</p>
            <p class="contain center">({{product.product_contain}})</p>
            <ion-row class="center">

              <ion-col>
                <b>Rs {{product.price}} &nbsp; </b>
              </ion-col>
            </ion-row>
          </ion-card-content>
        </ion-card>
      </ion-col>




      <ion-col size="12" class="ion-no-padding">
      <ion-button expand="full"  [routerLink]= "['/product']" [queryParams]="{ category_id: '35'}" routerDirection="forward"  color="danger">View Flowers</ion-button>
      </ion-col>
      <ion-col size="6" *ngFor="let product of homepageflowersHomeproduct"   [routerLink]= "['/productdetails']" [queryParams]="{ product_id: product.product_id}" routerDirection="forward"  class="ion-no-padding">
        <ion-card>
          <img src="{{product.product_default_image}}"/>
          <ion-card-content>
            <p class="center">{{product.product_name}}</p>
            <ion-row class="center">

              <ion-col>
                <b>Rs {{product.price}} &nbsp; </b>
              </ion-col>
            </ion-row>
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col size="12" class="ion-no-padding">
      <ion-button expand="full" [routerLink]= "['/product']" [queryParams]="{ category_id: '45'}" routerDirection="forward"  color="danger">View Combo</ion-button>
      </ion-col>
       <ion-col size="6" *ngFor="let product of homepagecomboHomeproduct"   [routerLink]= "['/productdetails']" [queryParams]="{ product_id: product.product_id}" routerDirection="forward"   class="ion-no-padding">
        <ion-card>
          <img src="{{product.product_default_image}}"/>
          <ion-card-content>
            <p class="center">{{product.product_name}}</p>
            <p class="contain center">({{product.product_contain}})</p>
            <ion-row class="center">

              <ion-col>
                <b>Rs {{product.price}} &nbsp; </b>
              </ion-col>
            </ion-row>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row> 
  </ion-grid>
</ion-content>
