.welcome-card img {
  max-height: 35vh;
  overflow: hidden;
}
.welcome-card {
        
       margin-top:60px !important;
       margin-left: 0px !important;
	   margin-right: 0px !important;
	   border-radius:0px;
	   box-shadow:none;
 }


	
.discount {
font-size: 12px;
text-decoration: line-through;
}

.img-center {
margin-left: 46%;
}
.contain
{
	color:green;
	font-weight:bold;
}
