<ion-content>
	 <ion-card class="welcome-card">
	 	
	 	<form>


				<ion-list no-lines>

					<ion-list-header>
					<h5>
					Delivery Details
					</h5>
					</ion-list-header>
					<ion-item>
						<ion-input  name="email" type="text"  placeholder="Recipient Name *" spellcheck="false" autocapitalize="off"
							required>
						</ion-input>
					</ion-item>

					<ion-item>
						<ion-input  name="email" type="text"  placeholder="Recipient Contact No *" spellcheck="false" autocapitalize="off"
							required>
						</ion-input>
					</ion-item>

					<ion-item>
						<ion-input  name="email" type="text"  placeholder="Recipient Alternate Contact No" spellcheck="false" autocapitalize="off"
							required>
						</ion-input>
					</ion-item>

					<ion-item>
						<ion-textarea  name="email" type="text"  placeholder="Delivery Address" spellcheck="false" autocapitalize="off"
							required>
						</ion-textarea>
					</ion-item>


					<ion-item>
						<ion-textarea  name="email" type="text"  placeholder="Special Instruction About Delivery" spellcheck="false" autocapitalize="off"
							required>
						</ion-textarea>
					</ion-item>



				</ion-list>

				<ion-row responsive-sm>
					<ion-col>
						<ion-button routerLink="/payment"  expand="full" color="danger">Next</ion-button>
					</ion-col>
				</ion-row>

	</form>

		
	</ion-card> 	
</ion-content>



